.ColumniseThumbs(@cols, @thumbMargin) {

  display: inline-block;
  width: (100% / @cols) - ((@cols - 1) /@cols);
  margin-right: @thumbMargin;
  margin-bottom: @thumbMargin;

  &:nth-of-type(@{cols}n){
    margin-right: 0;
  }

}

.transition(@property, @time){

  -webkit-transition: @property @time;
  -moz-transition: @property @time;
  -ms-transition: @property @time;
  -o-transition: @property @time;
  transition: @property @time;
}

.bootstrapise{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  float: none;

  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }

}