.page-user{
  .main-container{
    .bootstrapise;
  }
}
.not-logged-in.page-user{
  .tabs--primary{
    display: none;
  }
  .page-header{
    display: none;
  }

  .main-container{
    height: calc(~'100% - 265px');
    .bootstrapise;

    .region-content{

      width: 300px;
      margin: 120px auto 0;
      background: #ececec;
      padding: 30px;

      #user-login{
        .form-control{
          height: 37px;
          font-size: 1.2em;
        }
        label{
          left: 12px;
          top: 5px;
          font-weight: 300;
          font-style: italic;
          color: #adadad;
          font-size: 1.2em;
        }

        input{
          box-shadow: none;
          border: none;
        }

        #edit-submit{
          border: none;
          background: fade(@brand-primary, 40%);
          color: #fff;
          width: 100%;
          font-size: 1.2em;
          font-weight: normal;
          letter-spacing: 0.8px;

          .transition(all, 0.35s);
          &:hover{
            background: fade(@brand-primary, 60%);
          }
        }
      }

    }
  }
}