.product-heading{
  text-transform: uppercase;
  text-decoration: none;
  color: @brand-primary;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: 800;
}

.link-hover{
  .transition(all, 0.35s);
  &:hover {
    text-decoration: none;
    &:hover {
      color: @text-color;
    }
  }
}

.page-title{
  text-align: center;
  text-transform: uppercase;
  color: @brand-primary;
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 3px;
}